<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-family: "Lato", sans-serif
    }

    .mySlides {
        display: none
    }
</style>

<body>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>

            <a href="/faculty_advisor/logout" class="w3-bar-item w3-button">logout</a>
        </div>
    </div>
    </div>
    <div class="w3-padding-64 w3-container">
        <div class="w3-content w3-white">
            <% datas.forEach(post => { %>
            <div class="w3-card w3-container w3-padding " style="align-content: center;">
                <div class="w3-third w3-white">
                    <p> </p>
                    <p> ID: <%= post.ticket_id%> <br>
                        StudenID: <%= post.student_id%> <br>
                        InstructorID : <%= post.instructor_id%></p>
                    FacultyAdvisorID: <%= post.faculty_advisor_id%> <br>
                    status: <%= post.status%> <br>
                    CourseID: <%= post.course_id%></p>
                </div>
                <div class="w3-third w3-white">
                    <p> </p>
                    <a class="w3-btn w3-blue w3-padding" href="/faculty_advisor/ticket?status=<%= 1 %>&ticket_id=<%=post.ticket_id%>">Accept</a>
                    <a class="w3-btn w3-blue w3-padding" href="/faculty_advisor/ticket?status=<%= 0 %>&ticket_id=<%=post.ticket_id%>">Reject</a>
                </div>
            </div>
            <% }) %>

        </div>
    </div>



</body>

</html>